/trash
/test   
treq.txt
r.txt
firebase_api.txt
Animating (dashed) lines and paths with d3.js & spirographs _ Visual Cinnamon.html
/Animating (dashed) lines and paths with d3.js & spirographs _ Visual Cinnamon_files
/hand-animation
